*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #f3f7fb;
    position: relative;
}
.nav{
    /* background:black; */
    background-color: #32aeb1;
    color:white;
    display:flex;
    align-items: center;
    height:3rem;
}

.navHeading{
    /* border: 1px solid; */
    font-size: 1.4rem;
    margin-left: 2rem;
}

.navHeading:hover{
    color: rgb(204, 189, 189);
}

.navOptions{
    position: absolute;
    right: 10px;
    display:flex;
    width:25rem;
    /* border: 1px solid; */
    justify-content: space-evenly;
}


.navOptions div:hover{
    color: rgb(204, 189, 189);
}

.heading{
    /* display:flex;
    justify-content: center; */
}

.headingDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.headingDiv button{
    position: absolute;
    right:10rem;
}

.footer{
    padding-bottom: 2rem;
}
.list{
    margin: auto;
    /* border: 1px solid; */
    width:45rem;
    text-align: center;
    margin-bottom:2rem;
}

.head{
    text-align: center;
}
.text{
    text-align: center;
}

.home{
    display: flex;
}

.home img{
    width: 55vw;
    height:92.5vh;
}

.home div p:nth-child(1){
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 30vh;
}

.home div p:nth-child(2){
    font-size: 1rem;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
